.Rproj.user/
.vscode
_models*
.DS_Store

# Jupyter checkpoint folders
.ipynb_checkpoints
**/**/.ipynb_checkpoints

# editors
*.sublime*
.code
**/**/.code
.vscode
**/**/.vscode

# mkdocs building folder
docs/
