:root {
  --md-primary-fg-color:        #E64626;
  --md-primary-fg-color--dark: #ac2d14;
  --md-primary-fg-color--light: #ee806b;
  --md-typeset-color: #424242;
}

.md-typeset .admonition {
  border-left-color: var(--md-primary-fg-color--dark);
  --md-admonition-header-color: #FFFFFF;
}

.md-typeset .admonition-title {
  background-color: var(--md-primary-fg-color);
  color: var(--md-admonition-header-color);
}

.md-typeset .admonition-title::before {
  background-color: var(--md-admonition-header-color);
}

.keypoints>.admonition-title::before {
  mask-image: var(--md-admonition-icon--info);
}

.objectives>.admonition-title {
  background-color: #FDCA90;
  color: var(--md-typeset-color);
}

.objectives>.admonition-title::before{
  mask-image: var(--md-admonition-icon--example);
  background-color: var(--md-typeset-color);
}

.challenge>.admonition-title {
  background-color: #eec275;
  color: var(--md-typeset-color);
}

.challenge>.admonition-title::before {
  mask-image: var(--md-admonition-icon--question);
  background-color: var(--md-typeset-color);
}

.challenge>details>summary::before {
  mask-image: var(--md-admonition-icon--success)
}

.questions>.admonition-title::before {
  mask-image: var(--md-admonition-icon--question);
}
