cython
jupyterlab>=3
jupyterlab-git>=0.30.1
ipympl
matplotlib
mkdocs
mkdocs-material
mkdocs-material-extensions
pymdown-extensions
mknotebooks
mkdocs-minify-plugin
pandas
seaborn
scikit-learn
statsmodels
upsetplot
xgboost
git+https://github.com/scikit-learn-contrib/py-earth@v0.2dev
